<main fxLayout="column" fxLayout.gt-lg="row" fxLayoutAlign="center start">
    <titulo fxLayout="row"></titulo>
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between start">
        <descricao-pagina fxFlex="100%" fxFlex.gt-sm="50%"></descricao-pagina>
        <avisos fxFlex="100%" fxFlex.gt-sm="25%"></avisos>
    </div>
    <alerta fxLayout="row" fxLayoutAlign="center center"></alerta>
    <legenda fxLayout="row" fxLayoutAlign="end center"></legenda>
    <painel-sistemas></painel-sistemas>
</main>